# ===== base ignore =====
__pypackages__/


# ===== cache data ignore =====
__pycache__/
.cache
.pytest_cache/
**.ruff_cache


# ===== test data ignore =====
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/


# ===== local environment ignore =====
.idea
.venv
.DS_Store
env/*
!env/.env.example
